.upload-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 90vh;
}

.upload {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.upload-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.upload-form {
    width: 100%;
    height: 100%;
    display: flex;
}

.form-column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-400);
    box-sizing: border-box;
    align-items: center;
    gap: var(--spacing-200);
}

.form-file-wrapper {
    width: 24rem;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--clr-dark);
    font-size: var(--ft-size-200);
    border-radius: 0.75rem;
}

.submit-latex-button {
    margin-top: auto;
}

.upload-selected-files-list {
    list-style-type: none;
    padding: var(--spacing-400);
    box-sizing: border-box;
}

.upload-selected-file {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.upload-delete-selected-file-icon {
    color: var(--clr-dark);
}

.upload-delete-selected-file-icon:hover {
    color: var(--clr-error);
}

.upload-delete-selected-file {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-files {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.cover-label {
    background-color: var(--clr-primary);
    padding: var(--spacing-200);
    box-sizing: border-box;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-right: 1px solid var(--clr-dark);
}

.cover-text {
    padding: var(--spacing-200);
    color: var(--clr-secondary)
}

.tutorial-info-label {
    display: flex;
    flex-direction: column;
}

.tutorial-cover-file {
    display: none;
}

.upload-latex {
    height: 100%;
    padding: var(--spacing-300);
    box-sizing: border-box;
    width: 100%;
}

.upload-preview-container {
    width: 50%;
    height: 100%;
    padding: var(--spacing-400);
    box-sizing: border-box;
}

.upload-preview {
    width: 100%;
    height: 100%;
    border: 1px solid var(--clr-dark);
}

small {
    color: var(--clr-error);
}




