.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    z-index: 1;
    padding: 40px;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 5px grey;
}

.header-logo {
    margin-right: auto;
}
