/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import '../node_modules/ng-katex/node_modules/katex/dist/katex.css';

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}

.no-display-file-input {
    display: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
    border: none;
    font-weight: bold;
}

button.primary {
    background-color: #0bc20b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button.primary:hover {
    background-color: #0bc20bdd;
}